@charset "utf-8";

/* CSS Document */
a {
  color: #2edbac;
  text-decoration: none;
}

a:hover {
  border-bottom: solid 1px #2edbac;
}

#page {
  margin: 0 auto;
}

#viewport,
#box,
.slide {
  width: 100%;
  height: 525px;
}

#viewport {
  overflow: hidden;
}

#effect-list {
  overflow: hidden;
}